body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

section {
  padding: 20px;
}

#email-subscription {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3f51b5;
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#portfolioVideos .video-item {
  margin: 10px;
  display: inline-block;
}

#team .team-member {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  #portfolioVideos .video-item, #team .team-member {
    width: 100%;
    text-align: center;
  }
}
